.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
}

.title,
.description {
    text-align: center;
}

.AppBar {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #1C1C1C;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    min-height: 4rem;
}


.AppBar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-left: 1rem;
}

.AppBar_title {
    margin-left: 1rem;
    font-size: 1.75rem;
    margin-bottom: 0.35rem;
}

.AppBar_wallet {
    cursor: pointer;
    padding-right: 1rem;
    margin-bottom: 0.25rem;
}