.formPaper {
    background-color: rgb(58, 58, 58, 1);
    border-radius: 10px;
    width: 40%;
    padding: 1rem;
    margin-top: 25vh;
    color: var(--medium-emphasis);
    font-size: 1.25rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-top: 1.25rem;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputStyle {
    background-color: rgb(60, 60, 60, 1);
    color: white;
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid var(--medium-emphasis);
}

.inputStyle:focus {
    background-color: rgb(58, 58, 58, 1);
    caret-color: white;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    border-bottom: solid #0070f3;
}

.iconContainer {
    background: none;
    background-color: rgb(60, 60, 60, 1);
    border: none;
    border-bottom: 2px solid var(--medium-emphasis);
}

.registerText {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
    cursor: pointer;
}

.accountText {
    color: var(--medium-emphasis);
    font-weight: bold;
    margin-top: 2rem;
}